*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea/.name
.idea/codeStyles/
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/libs/
app/src/androidTest/
app/src/test/
gradle/
src/androidTest/
src/test/
src/main/java/com/example/myapplication/Constant.java
src/main/java/com/example/myapplication/MyApp.java
src/main/java/com/example/myapplication/RetrofitHelper.java
